@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

#workspaces {
    background: transparent;
    margin: 10px 0;
}

#workspaces button {
    padding: 10px 0;
    color: alpha(@on_surface, 0.3);
}

#workspaces button.active {
    color: @primary;
}

#clock, #pulseaudio, #network, #battery, #custom-power, #custom-launcher, #tray, #custom-record, #custom-voxtype {
    padding: 12px 0;
}

#custom-launcher { color: @primary; font-size: 18px; }
#clock { color: @on_surface; font-size: 11px; }
#pulseaudio { color: @secondary; }
#network { color: @tertiary; }
#battery { color: @primary; }
#custom-power { color: @error; }
#custom-record { color: @primary; }
#custom-record.recording { color: @error; }
#custom-voxtype { color: @secondary; }
